<style>

	body{
		font-family: Verdana, "Lucida Grande", Arial, sans-serif;
		font-size: 14px;
		line-height: 25px;
	}
	
	h2.subject {
		font-weight: bold;
		text-transform: uppercase;
	}
	
</style>

<body>

<div align="center" style="margin-bottom: 30px;">
	<h2>STOP ORDER APPROVAL LETTER</h2>
</div>

<p>
	This is a confirmation for Stop Order approval. The details are as follows:
</p>

<div style="border: 1px solid gray; padding: 30px;">
<p>
	<table width="100%" cellspacing="1" cellpadding="1">
	<tr>
		<td><strong>Finacier:</strong></td>
		<td>#financier</td>
		<td><strong>Loan amount:</strong></td>
		<td>#loan</td>
	</tr>
	
	<tr>
		<td><strong>Farmer:</strong></td>
		<td>#farmer</td>
		<td><strong>Farm name:</strong></td>
		<td>#farm</td>
	</tr>
	
	<tr>
		<td><strong>Farm size:</strong></td>
		<td>#size</td>
		<td><strong>Product:</strong></td>
		<td>#product</td>
	</tr>
</table>
</p>
</div>

<p>
	Regards, <br/>
	<strong>Administrator</strong> 
</p>

</body>